<!doctype html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <h1><%= title %></h1>

    <p>
      A skeleton app for Express 4.0.
    </p>

    <% include partials/_messages %>
  </body>
</html>
